*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: black;
    color: white;
}
p{
    background-color: aquamarine;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.pg2 li{
    margin-right: 60px;
    display: inline-flex;
    margin-left: 20px;
}
.pg3 li{
    margin-right: 60px;
    display: inline-flex;
    margin-left: 20px;
}
ul{
    text-decoration: none;
    text-align: center;
}
.pg4 ul li{
    margin-right: 60px;
    display: inline-flex;
    margin-left: 20px;
}
.p4 ol li{
    display: inline-flex;
    margin-right: 60px;
    display: inline-flex;
    margin-left: 20px;
}
.in ol li{
    margin-right: 60px;
    display: inline-flex;
    margin-left: 20px;
    text-align: center;
    
}
}